.expert-page {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background: #000;
  min-height: 100vh;
}

.expert-card-full {
  width: 100%;
  max-width: 600px;
  background: #050505;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  color: white;

  border: 1px solid rgba(0, 255, 150, 0.2);
  box-shadow: 0 0 25px rgba(0, 255, 150, 0.15);
}

.expert-card-full h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.expert-card-full p {
  margin: 10px 0;
  font-size: 16px;
  color: #ddd;
}

.expert-card-full strong {
  color: #00ff99;
}

.expert-card-full .stars {
  font-size: 26px;
  color: #00ff99;
  margin-top: 15px;
}